body{
	background-color: #c1c6e3;
}
h1 {
	color:white;
	font-family: verdana;
	font-size: 200%;
	border: 1px solid white;
	padding:10px;
	margin-left: 10px;
}
p{
	font-family: arial;
	color: white;
	font-size: 120%;
	margin:20px;
}
/*this is a comment*/
img{
	max-width: 70%;
	height:auto;
	margin:0 0 0 0px; 
}
{box-sizing: border-box;}

.container{
	display: grid;
	grid-template-columns: repeat(3,400px);
	position: relative;
	width: 50%;
	max-width: 400px;
}
.image{
	display: block;
	width: 100%;
	height: auto;
}
.overlay{
	position: absolute;
	bottom: 0%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 50%;
	transition: .5s ease;
	opacity: 0;
	color:white;
	font-size: 20px;
	padding: 40px;
	text-align: center;
}
.image:hover .overlay{
	opacity: 1;
}
}
 #about1{
 	position: absolute;
	background-color: #2d2d33;
	color:white;
	padding: 10px 15px;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 10px;
}


