body{
	background-color: #000000;
}
h1 {
	color:white;
	font-family: verdana;
	font-size: 200%;
	border: 1px solid white;
	padding:10px;
	margin-left: 10px;
}
p{
	font-family: arial;
	color: white;
	font-size: 120%;
	margin:20px;
}
/*this is a comment*/
img{
	max-width: 100%;
	height:auto;
	margin:0 0 0 0px; 
}
*{box-sizing: border-box}

.container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	position: relative;
	width: 100%;
	max-width: 1500px;
	grid-column-gap:10px; 
}
.image{
	display: block;
	width: 100%;
	height: auto;
	transition: .5ease;
	backface-visibility: hidden;
	padding:10px;
}
.overlay{
	transition: .5s ease;
	opacity: 0;
	position: relative;
	left:50%;
	bottom:40%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%, -50%);
	text-align: center;

}
.text{
	background-color: #68767d;
	font-family: verdana;
	color: white;
	font-size: 20px;
	padding:20px 5px;
}
/*.overlay{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	color:white;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}*/

.image:hover .image{
	opacity: 0.5;
}
.image:hover .overlay{
	opacity: 1;

}
}
 #about1{
 	position: absolute;
	background-color: #2d2d33;
	color:white;
	padding: 10px 15px;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 10px;
}


